.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================================== */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* keira: ===== HEADER / NAV-BAR ====== */

.navbar {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 10px;
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar-center a {
  padding-bottom: 22px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-left {
  margin-left: 26px;
}
.navbar-left a {
  float: left;
}
.navbar-right {
  margin-right: 26px;
}
.navbar-right a {
  float: right;
}

/* TODO: replace "text-decoration: underline" w/ .line */
.line {
  /* Increase this as per requirement */
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

/* keira: =========== MAIN ============ */

.main {
  margin-top: 800px;
  background-image: url("images/stripe-tear.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.75); */
  height: 1211px;
  display: block;
}

/* TODO: make main-container begin lower than main; center in respect to "main" */
.main-container {
  /* margin-top: 1000px; */
  margin-left: 70px;
  margin-right: 70px;
  /* padding-top: 220px; */
  background-color: rgba(0, 0, 0, 0.9);
}

.main-content {
  margin-top: 220px;
  font-family: "Courier Prime", monospace;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.main-header-container {
  /* background-image: url("images/black-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: black;
  margin: auto;
  width: 140px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; /* must equal "height" */
}

.main-header {
  text-transform: uppercase;
  font-size: 24px;
  /* background-color: blue; */
}

.event-container {
  padding-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;

  margin: auto;
  width: 88.65%;
  position: relative;
  background-color: black;
  overflow: hidden;
}
/* TODO: Reformat "event-container a" so first half is left-aligned & second half is right-aligned. */
.event-container a {
  background-color: transparent;
  float: left;
  color: #f2f2f2;
  text-align: left;
  /* padding: 28px 30px; */
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 52px;
  font-family: "Courier Prime", monospace;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 55px;
}
.event-ticket-button {
  background-color: white;
  display: block;
  width: 130px;
  line-height: 55px;
}
.event-ticket-button p {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

/* keira: =========== FOOTER ============ */

.footer {
  background-image: url("images/black-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #111111; */
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-signature {
  padding-bottom: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-family: "Courier Prime", monospace;
  font-size: 14px;
}

.footer-bottom {
  /* background-image: url("images/black-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background: #000000;
  padding: 30px 0;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}

.footer-bottom p {
  font-family: "Courier Prime", monospace;
  font-size: 11px;
  word-spacing: 3px;
  text-transform: capitalize;
  display: table;
  float: right;
  justify-content: right;
  align-content: right;
  /* background-color: #e30404; */
  padding-top: 3px;
  padding-right: 30px;
}

.socials {
  float: left;
  height: 100%;
}

.socials a {
  float: right;
  height: 100%;
  display: table;
  padding: 0px 25px;
  /* background-color: blue; */
}

/* psuedo-selector: targets only the last element on the left in <a>*/
.socials a:last-child {
  padding-left: 30px;
}

.socials a li {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
}

.socials a:hover i {
  /* color: #0088e4; */
  /*   color: #f5b413; */
  /* color: #ed0000; */
  color: #dadada;
}
