.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================================== */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* color: white !important; */
}

/* keira: ===== HEADER / NAV-BAR ====== */

.home-navbar {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.home-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 10px;
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  text-transform: uppercase;
  /* text-decoration: underline; */
}
.home-navbar a:hover {
  color: #f2f2f2;
  /* text-decoration: none; */
}
.home-navbar-center a {
  padding-bottom: 22px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-navbar-left {
  margin-left: 26px;
}
.home-navbar-left a {
  float: left;
}
.home-navbar-right {
  margin-right: 26px;
}
.home-navbar-right a {
  float: right;
}

/* Navbar for subpages */
.sub-navbar {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.sub-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 10px;
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  text-transform: uppercase;
  /* text-decoration: underline; */
}
.sub-navbar a:visited {
  color: #f2f2f2;
}
.sub-navbar a:hover {
  color: white;
  /* text-decoration: none; */
}
.sub-navbar-center a {
  padding-bottom: 22px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-navbar-left {
  margin-left: 26px;
}
.sub-navbar-left a {
  float: left;
}
.sub-navbar-right {
  margin-right: 26px;
}
.sub-navbar-right a {
  float: right;
}

.line {
  line-height: 0.8;
  /* Increase this as per requirement */
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1.32px;
  width: fit-content;
}
.line p {
  line-height: 1;
}
.line:hover {
  border: transparent;
}

/* keira: =========== MAIN ============ */

/* TODO: make section collapsible / add a "more dates" button */
/* TODO: add eyes/lips icons/animations */

.main {
  background-image: url("images/table.jpg");
  /* url('images/chrome-initials.gif'), */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.tour {
  height: 1800px;
  background-image: url("images/stripe-tears.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center;

  margin-top: 55%;
  padding-top: 240px;
  /* padding-left: 9rem;
  padding-right: 9rem; */

  position:relative;
}
.tour-header {
  margin-top: -200px;
}
.tour-header p {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;

  font-family: "Courier Prime", monospace;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}
.tour-content {
  /* position: relative;
  top: 0;
  left: 0; */

  height: 1000px;
  background-color: rgba(0, 0, 0, 0.97);
  /* box-sizing: border-box; */

  margin-top: 11vh;
  padding-top: 0px;
/* 
  display: flex;
  align-items: center;

  flex-direction: column;
  text-align: center; */
  
}
#outerDiv{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.event {
  background: black;
  display: block;
  height: 120px;
  width: 98%;
  

  /* Increase this as per requirement */
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  color: white;

  text-align: left;
  font-family: "Courier Prime", monospace;
  font-size: 18px;
}
.event-left {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.event-right {
  display:inline-block;
  height: 100%;
  vertical-align: middle;
}
.event-info {
  margin-top: 8px;
}
.vert-center {
  display: flex;
  align-items: center;
}
.btn {
  background-color: white !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  color: black !important;
  border-color: white !important;
  align-content: right !important;
  text-align: center;
}
.get-tickets:hover{
  background-color: red !important;
  border-color: red !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  color: white !important;
}
.btn-xl {
  padding: 8px 20px !important;
/* GET TICKETS BUTTON PADDING */

  text-align: center;
  font-size: 18px !important;
  width: 100%;
  /* min-width:180px; */
  /* width:90%;         TODO: make so button's width is 100% when xs-view*/ 
}
.btn p {
  /* GET TICKETS BUTTON PADDING */
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 0px;
  overflow-wrap:break-word;
}
.button-padding {
  padding-left:0;
  padding-right: 25px !important;
}
.sold-out {
  background-color: red !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  color: black !important;
  border-color: red !important;
  align-content: right !important;
  text-align: center;

  text-decoration: line-through !important;
}
.event-border {
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  color: white;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* keira: =========== FOOTER ============ */

.footer {
  background-image: url("images/black-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: #111111; */
  height: auto;
  font-family: "Open Sans";
  padding-top: 100px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0px;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-signature {
  padding-bottom: 65px;
}

/* 1/19 */
.form-box h1 {
  font-family: "Courier Prime", monospace;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.form-box p {
  font-family: "Courier Prime", monospace;
}
.input-box {
  margin: 50px auto;
  width: 80%;
  border-bottom: 0.1px solid rgb(107, 107, 107);
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: left;
}
/* TODO: Customize/fix drop-down / select style. */
#email {
  color: white;
}
.input-box input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  padding-bottom: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 18px;
  height: 23px;
}
::placeholder {
  color: rgb(161, 161, 161);
}
.fa {
  margin-right: 10px;
}
.subscribe-btn {
  margin: 45px auto 140px;
  width: 30%;
  display: block;
  outline: none;
  padding: 10px 0;
  border: 0.1px solid #fff;
  cursor: pointer;
  background: white;
  color: black;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  text-transform: uppercase;
}
.subscribe-btn:hover {
  outline: none;
  border: 0.1px solid red;
  cursor: pointer;
  background: red;
  color: white;
  text-transform: uppercase;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-family: "Courier Prime", monospace;
  font-size: 14px;
}

.footer-bottom {
  /* background-image: url("images/black-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background: #000000;

  padding: 30px 0;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}
.footer-bottom p {
  font-family: "Courier Prime", monospace;
  font-size: 11px;
  word-spacing: 3px;
  text-transform: capitalize;
  display: table;
  float: right;
  justify-content: right;
  align-content: right;
  /* background-color: #e30404; */
  padding-top: 3px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
.footer-bottom a {
  color: white;
  /* text-decoration: underline; */
}
.footer-bottom a:hover {
  color: white;
  /* text-decoration: none; */
}

.socials {
  float: left;
  height: 100%;
}

.socials a {
  float: right;
  height: 100%;
  display: table;
  padding: 0px 25px;
  /* background-color: blue; */
}

/* psuedo-selector: targets only the last element on the left in <a>*/
.socials a:last-child {
  padding-left: 30px;
}

.socials a li {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
}

.socials a:hover i {
  color: #dadada;
  transform:scale(1.3);
}

/* KEIRA: ********************* MUSIC.js and Album.js ************************************************************/

.album img {
  margin: auto;
}

.music {
  height: 1800px;
  background-color: rgb(22,22,22);
  box-sizing: border-box;
}

.music-total {
  width: 100%;
  margin: auto;

  margin-top: 45%;
}

.music-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 120px;

  z-index: 1;
  color: #f2f2f2;
  text-align: center;
  font-family: "Circular Std Bold";
  font-size: 3em;
}
.music-subheader {
  margin-bottom: 120px;

  color: #5d5d5d;
  text-align: center;
  font-family: 'Circular Std Book';
  font-size: 1.2em;
  font-weight: 50;
}

.swiper-slide img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

/* Photos */
.photo {
  background-color: rgb(22,22,22);

}

.photo-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.photo > img {
  height: 300px;
  width: 500px;
  /* object-fit: contain; */
}

.photo > img:hover {
  transform: scale(1.09);

}

.photo:hover {
}